*{
	box-sizing: border-box;
}

body {
	font-size: 20px;
	color: #fff;
	background-color:#611223 ;
	font-family: 'Aref Ruqaa', serif;
}

.hello{
	clear: right;

}

#calling a:link, #calling a:visited{
	font-size: 20px;
	color: #fff; 
	float: right;
	text-decoration: none;

}